src/main/mule/update-data-urip.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1622724a-d7f4-4151-8209-d033f7faf0b7" doc:description="This application is to update values of MySQL database using uri Parameters" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="7d9130c0-8f17-478e-84fc-2969579563a0" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Asq@22w0rd#" database="northwind" />
	</db:config>
	<flow name="update-data-uripFlow" doc:id="5b348d88-0d16-4cb7-bc75-3b46a44dab4a" >
		<http:listener doc:name="Listener" doc:id="41255e80-5565-47d9-ba68-241a0ed29653" doc:description="This application is to update values of MySQL database using uri Parameters" config-ref="HTTP_Listener_config" path="my-db/{regionId}/{regiondescription}" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="d428e388-660b-4ef5-8fff-b4f5fb084189" message='#["The submitted values of regionId and regiondescription are: " ++ attributes.uriParams.regionId ++ " and " ++ attributes.uriParams.regiondescription]'/>
		<db:update doc:name="Update MySQL data using uri parameters" doc:id="1aca14f6-9d20-46dc-a53f-047c3bfaed29" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE region
SET regiondescription = :regiondescription
WHERE regionId = :regionId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'regionId': attributes.uriParams.regionId,
 'regiondescription': attributes.uriParams.regiondescription
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="e96072e6-7ded-4641-aff6-3e60faf6ea46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Message': "Data Updated Successfully!",
	'Code': 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
